.post-content {
    &.box {
        padding: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    .post-img {
        padding: 1rem 0;
        margin-bottom: 1rem;
        width: 100%;
        max-height: 250px;
        object-fit: contain;
        border: solid #f1f1f1;
        border-width: 1px 0;
    }

    .post-author {
        font-size: 12px;
        color: #6a6f8a;
        line-height: 20px;
    }

    .post-icons {
        color: #6a6f8a; 
        svg {
            margin-left: 1rem;
        }
    }
}
